

<div data-controller="booking-subscription"
  data-booking-subscription-booking-id-value='<%= booking.id %>'>
  <% if booking.taker_car.present? %>

    <div class="show-card-border-layer">
      <div class="show-card-first-box-b">
        <%# <h2>Mon Relay arrive !</h2> %>
        <span class="card-text"><%=  booking.taker_car.user.first_name%></span>
        <span class="card-text">récupère votre place dans </span>
        <span class="card-important"><%= time_ago_in_words booking.available_at%></span>
      </div>
    </div>

    <div class="show-card-border-layer">
      <div class="show-card-third-box-b">
          <span>Localiser la place dans GoogleMap : </span>
          <%= link_to "https://google.fr/maps/place/#{booking.parking.address}", target: "_blank" do %>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          <% end %></h2>
      </div>
    </div>

    <div class="show-card-border-layer">
        <div class="show-card-fourth-box">

          <div class="show-card-car-infos-1">

            <div class="show-card-img">
              <% if booking.taker_car.car_type == "citadine" %>
                <%= image_tag("cars/citadine.png", width: 50, height: 50, crop: :fill) %>
              <% elsif booking.taker_car.car_type == "berline" %>
                <%= image_tag("cars/berline.png", width: 50, height: 50, crop: :fill) %>
              <% elsif booking.taker_car.car_type == "van" %>
                <%= image_tag("cars/van.png", width: 50, height: 50, crop: :fill) %>
              <% end %>
            </div>

            <span><%= booking.taker_car.car_type%></span>

          </div>

          <div class="show-card-car-infos-2">
            <span><%= booking.taker_car.car_model%></span>
            <span> <%= booking.taker_car.car_color%></span>
          </div>

          <div class="show-card-car-infos-3">
            <span class="card-text"><strong><%= booking.taker_car.plate%></strong></span>
          </div>

        </div>
      </div>


      <% else %>
        <h2> On cherche ton Relay! </h2>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
          data-controller="booking-subscription"
          data-booking-subscription-booking-id-value=<%= booking.id %>>
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
        </div>
      <% end %>
    </div>
</div>
