<%= render "shared/header" %>

<div class="index-container">

  <%= form_with url: bookings_path, method: :get, class: "map-search-fields-container py-2" do %>

    <div class="map-search-field">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Adresse" %>
    </div>

    <div class="map-search-field">
      <%= text_field_tag :time,
      params[:time],
      class: "form-control",
      placeholder: "Time",
      type: "time",
      value: Time.current.strftime('%H:%M')%>
    </div>
    <%= submit_tag "Search", class: "btn-flat-white" %>
  <% end %>

  <div class="map">
    <div class="map-container"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-redimage-value="<%= asset_path("red.png") %>"
      data-map-blueimage-value="<%= asset_path("blue.png") %>">
    </div>
  </div>

<%# j'ai retiré la ligne 35 (icloud notes --" vous avez x places dispo") %>

    <div class="booking-cards-container">

      <% @parkings.each do |parking| %>
        <% booking = parking.bookings.last%>

        <div class="booking-card">

          <div class="bk-card-img">
              <%= image_tag("cars/new-map-car.png", width: 40, height: 20, crop: :fill) %>
          </div>

          <div class="bk-card-infos">
              <span class="index-card-text">Pars dans <%= time_ago_in_words booking.available_at %></span>
              <%# bk-card-address %>
          </div>

          <div class="bk-card-go-btn">
            <% link_to booking_path(booking), class:"bk-card-eye-btn" %>
              <i class="fa-sharp fa-solid fa-eye" style="color: #000000;"></i>
          </div>
        </div>
      <% end %>

    </div>

</div>

<%= render "shared/navbar" %>
