<%= render "shared/header" %>

<div class="index-container">

  <%= form_with url: bookings_path, method: :get, class: "map-search-fields-container py-2" do %>

    <div class="map-search-field">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Adresse" %>
    </div>

    <div class="map-search-field">
      <%= text_field_tag :time,
      params[:time],
      class: "form-control",
      placeholder: "Time",
      type: "time",
      value: Time.current.strftime('%H:%M')%>
    </div>

    <div class="map-search-field" >
    <button> Go</button>
     <%= link_to "Aller !", bookings_path, class:"btn-flat" %>
      <%# <%= submit_tag "Go !", bookings_path(booking), class:"btn-flat" %>
    </div>

  <% end %>

<div class="map">
  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

    <div class="booking-cards-container">

      <% @parkings.each do |parking| %>
        <% booking = parking.bookings.last%>
        <%# parking.bookings.each do |booking| %>

          <div class="card-border-layer">
            <div class="show-card-border-layer">
              <div class="booking-card">

                <div class="bk-card-img">
                  <% if booking.giver_car.car_type == "citadine" %>
                    <%= image_tag("cars/citadine.png", width: 50, height: 50, crop: :fill) %>
                  <% elsif booking.giver_car.car_type == "berline" %>
                    <%= image_tag("cars/berline.png", width: 50, height: 50, crop: :fill) %>
                  <% elsif booking.giver_car.car_type == "van" %>
                    <%= image_tag("cars/van.png", width: 50, height: 50, crop: :fill) %>
                  <% end %>
                </div>

                <div class="bk-card-infos">
                    <span class="bk-card-address">Libre dans </span>
                    <span class="bk-card-time"><%= time_ago_in_words booking.available_at %></span>
                    <span class="bk-card-address"><%= parking.address %></span>
                </div>

                <div class="bk-card-go-btn">
                  <%= link_to "Go !", booking_path(booking), class:"btn-flat" %>
                </div>
              </div>
            </div>
          </div>

        <%# end%>
      <% end %>

    </div>

</div>

<%= render "shared/navbar" %>
