<%= render "shared/header" %>

<div class="index-container">

  <%= form_with url: bookings_path, method: :get, class: "map-search-fields-container py-2" do %>

    <div class="map-search-field">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Adresse",
        data: {
          controller: "autocomplete",
          autocomplete_target: "input",
          autocomplete_api_key_value: ENV['MAPBOX_API_KEY']
        } %>
    </div>

    <div data-controller="autocomplete"
      data-autocomplete-target= "input"
      data-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>

    <div class="map-search-field">
      <%= text_field_tag :time,
      params[:time],
      class: "form-control",
      placeholder: "Time",
      type: "time",
      value: Time.current.strftime('%H:%M')%>
    </div>
    <%= submit_tag "Search", class: "btn-flat-white" %>
  <% end %>

  <div class="booking-cards-container" data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-redimage-value="<%= asset_path("red.png") %>"
        data-map-blueimage-value="<%= asset_path("blue.png") %>">
    <div class="map">
      <div class="map-container"
        data-map-target="map">
      </div>


      <div class="container-message">
  <p>Vous avez <%= @parkings.count %> parkings à proximité</p>
  </div>

    </div>

        <%= render "list", parkings: @parkings %>


  </div>


</div>

<%= render "shared/navbar" %>
