<%= render "shared/header" %>

<div class="new-container">
  <div class="form-booking">

    <div class="adress-box">
      <h2>Je suis garé au : </h2>
      <h2> <%= @parking.address %> </h2>
    </div>

    <div class="datetime-box">
      <h2> Je souhaite libérer cette place à :</h2>
      <%= simple_form_for @booking do |f| %>
        <%= f.input :available_at, label: false, as: :datetime, html5: true, input_html:{value: 5.minutes.from_now.strftime('%Y-%m-%dT%k:%M')} %>
        <%= f.submit "Chercher un relay", class: "btn-flat" %>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/navbar" %>
