<%= render "shared/header" %>

<div class="base-container">

  <div class="map-container-show"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="show-card-container">
    <% if @booking.taker_car == current_user.cars.last %>


      <div class="show-card-first-box">
        <h3><%=  @booking.giver_car.user.first_name%></h3>
        <p>libère sa place dans</p>
        <span><%= time_ago_in_words @booking.available_at%></span>
      </div>

      <div class="show-card-second-box">
        <h3><%= @booking.parking.address %></h3>

        <div class="itinerary-link">
          <%= link_to "https://google.fr/maps/place/#{@booking.parking.address}", target: "_blank" do %>
            <i class="fa-brands fa-google"></i>
          <% end %></h2>
        </div>
      </div>

      <div class="show-card-third-box">

        <div class="show-card-car-infos_1">
          <div class=show-card-img>
            <% if @booking.giver_car.car_type == "citadine" %>
              <%= image_tag("cars/citadine.png", width: 50, height: 50, crop: :fill) %>
            <% elsif @booking.giver_car.car_type == "berline" %>
              <%= image_tag("cars/berline.png", width: 50, height: 50, crop: :fill) %>
            <% elsif @booking.giver_car.car_type == "van" %>
              <%= image_tag("cars/van.png", width: 50, height: 50, crop: :fill) %>
            <% end %>
          </div>
          <p><%= @booking.giver_car.car_type%></p>
        </div>

        <div class="show-card-car-infos_2">
          <p><%= @booking.giver_car.car_model%></p>
          <p> <%= @booking.giver_car.car_color%></p>
          <p><strong><%= @booking.giver_car.plate%></strong></p>
        </div>

        <div class="show-card-car-infos_3">

        </div>

      </div>

      <div class="show-validation-button">
        <%= link_to "JE RESERVE", bookings_path, class: "validation-btn-txt"%>
      </div>

    <% else %>
      <div class="d-flex justify-content-between align-items-center">
        <% if @booking.taker_car.car_type == "citadine" %>
          <%= image_tag("cars/citadine.png", width: 50, height: 50, crop: :fill) %>
        <% elsif @booking.taker_car.car_type == "berline" %>
          <%= image_tag("cars/berline.png", width: 50, height: 50, crop: :fill) %>
        <% elsif @booking.taker_car.car_type == "van" %>
          <%= image_tag("cars/van.png", width: 50, height: 50, crop: :fill) %>
        <% end %>
      </div>

      <div>
        <h2>Mon Relay arrive</h2>
        <h3><%= @booking.taker_car.user.first_name%> <%= @booking.taker_car.user.last_name%></h3>
        <p>Arrive à <%= time_ago_in_words @booking.available_at%></p>
        <strong><%= @booking.taker_car.plate%></strong>
      </div>
      <div>
          <p><strong> <%= @booking.taker_car.car_model%></strong></p>
          <p><%= @booking.taker_car.car_type%></p>
          <p><%= @booking.taker_car.car_color%></p>
      </div>
    <% end %>

  </div>

</div>

<%= render "shared/navbar" %>
