
<%= render "shared/header" %>


<div class="base-container">

  <div class="map-container-show"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="show-card-container">
    <% if @booking.taker_car == current_user.cars.last %>
      <div class="card-border-layer">
        <div class="show-card-first-box">
          <span class="username"><%=  @booking.giver_car.user.first_name%></span>
          <span class="text">libère sa place dans </span>
          <span class="countdown"><%= time_ago_in_words @booking.available_at%></span>
        </div>
      </div>

      <div class="card-border-layer">
        <div class="show-card-second-box">
          <span class="parking-address"><%= @booking.parking.address %></span>
        </div>
      </div>

      <div class="card-border-layer">
        <div class="show-card-third-box">
            <span>Ouvrir l'adresse dans google map : </span>
            <%= link_to "https://google.fr/maps/place/#{@booking.parking.address}", target: "_blank" do %>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            <% end %></h2>
        </div>
      </div>

      <div class="card-border-layer">
        <div class="show-card-fourth-box">

          <div class="show-card-car-infos-1">

            <div class=show-card-img>
              <% if @booking.giver_car.car_type == "citadine" %>
                <%= image_tag("cars/citadine.png", width: 70, height: 70, crop: :fill) %>
              <% elsif @booking.giver_car.car_type == "berline" %>
                <%= image_tag("cars/berline.png", width: 70, height: 70, crop: :fill) %>
              <% elsif @booking.giver_car.car_type == "van" %>
                <%= image_tag("cars/van.png", width: 70, height: 70, crop: :fill) %>
              <% end %>
            </div>

            <p><%= @booking.giver_car.car_type%></p>
          </div>

          <div class="show-card-car-infos-2">
            <span><%= @booking.giver_car.car_model%></span>
            <span> <%= @booking.giver_car.car_color%></span>
          </div>

          <div class="show-card-car-infos-3">
            <span><strong><%= @booking.giver_car.plate%></strong></span>
          </div>

        </div>
      </div>

      <div class="show-validation-button">
        <%= link_to "PLACE RÉCUPÉRÉE", bookings_path, class: "validation-btn-txt"%>
      </div>

    <% elsif @booking.giver_car == current_user.cars.last %>
      <div>
        <% if @booking.taker_car.present? %>
          <div class="d-flex justify-content-between align-items-center">
            <% if @booking.taker_car.car_type == "citadine" %>
              <%= image_tag("cars/citadine.png", width: 50, height: 50, crop: :fill) %>
            <% elsif @booking.taker_car.car_type == "berline" %>
              <%= image_tag("cars/berline.png", width: 50, height: 50, crop: :fill) %>
            <% elsif @booking.taker_car.car_type == "van" %>
              <%= image_tag("cars/van.png", width: 50, height: 50, crop: :fill) %>
            <% end %>
          </div>
          <h2>Mon Relay arrive</h2>
          <h3><%= @booking.taker_car.user.first_name%> <%= @booking.taker_car.user.last_name%></h3>
          <p>Arrive à <%= time_ago_in_words @booking.available_at%></p>
          <strong><%= @booking.taker_car.plate%></strong>
          <div>
            <p><strong> <%= @booking.taker_car.car_model%></strong></p>
            <p><%= @booking.taker_car.car_type%></p>
            <p><%= @booking.taker_car.car_color%></p>
          </div>
        <% else %>
          <h2> On cherche ton Relay! </h2>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
          </div>
        <% end %>
      </div>

    <% else %>
      <div class="card-border-layer">
        <div class="show-card-first-box">
          <span class="username"><%=  @booking.giver_car.user.first_name%></span>
          <span class="text">libère sa place dans </span>
          <span class="countdown"><%= time_ago_in_words @booking.available_at%></span>
        </div>
      </div>

      <div class="card-border-layer">
        <div class="show-card-second-box">
          <span class="parking-address"><%= @booking.parking.address %></span>
        </div>
      </div>

      <div class="card-border-layer">
        <div class="show-card-third-box">
            <span>Ouvrir l'adresse dans google map : </span>
            <%= link_to "https://google.fr/maps/place/#{@booking.parking.address}", target: "_blank" do %>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            <% end %></h2>
        </div>
      </div>

      <div class="card-border-layer">
        <div class="show-card-fourth-box">
          <div class="show-card-car-infos-1">

            <div class=show-card-img>
              <% if @booking.giver_car.car_type == "citadine" %>
                <%= image_tag("cars/citadine.png", width: 70, height: 70, crop: :fill) %>
              <% elsif @booking.giver_car.car_type == "berline" %>
                <%= image_tag("cars/berline.png", width: 70, height: 70, crop: :fill) %>
              <% elsif @booking.giver_car.car_type == "van" %>
                <%= image_tag("cars/van.png", width: 70, height: 70, crop: :fill) %>
              <% end %>
            </div>
            <p><%= @booking.giver_car.car_type%></p>

          </div>

          <div class="show-card-car-infos-2">
            <span><%= @booking.giver_car.car_model%></span>
            <span> <%= @booking.giver_car.car_color%></span>
          </div>

          <div class="show-card-car-infos-3">
            <span><strong><%= @booking.giver_car.plate%></strong></span>

          </div>
        </div>
      </div>

      <div class="show-validation-button">
          <%= link_to "RESERVER", booking_path, data: {turbo_method: :patch}, class: 'button-blue-big'%>
      </div>

    <% end %>

  </div>
</div>

<%= render "shared/navbar" %>
