<!DOCTYPE html>
<html>
  <head>
    <title>Relay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  </head>

  <body>
    <%= yield %>
    <div>
      <nav class="navbar fixed-bottom navbar-light bg-light d-flex">
        <%= link_to root_path, class: "navbar-style" do %>
          <i class="fa-sharp fa-solid fa-location-dot navbar-relay"></i>
        <% end %>
        <%= link_to root_path, class: "navbar-style" do %>
          <i class="fa-solid fa-car-side navbar-relay"></i>
        <% end %>
        <%= link_to root_path, class: "navbar-style" do %>
          <i class="fa-solid fa-heart navbar-relay"></i>
        <% end %>
        <%= link_to root_path, class: "navbar-style" do %>
          <i class="fa-solid fa-message navbar-relay"></i>
        <% end %>
        <%= link_to root_path, class: "navbar-style" do %>
          <i class="fa-solid fa-user navbar-relay"></i>
        <% end %>
      </nav>
    </div>
  </body>
</html>
